/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker-compose/mysql
/docker-compose/mysql/private_key.pem
/docker-compose/mysql/auto.cnf
/docker-compose/mysql/ca-key.pem
/docker-compose/mysql/ca-key.pem
/docker-compose/mysql/ca.pem
/docker-compose/mysql/client-cert.pem
/docker-compose/mysql/client-key.pem
/docker-compose/mysql/ib_buffer_pool
/docker-compose/mysql/ib_logfile0
/docker-compose/mysql/ib_logfile1
/docker-compose/mysql/ibdata1
/docker-compose/mysql/ibtmp1
/docker-compose/mysql/private_key.pem
/docker-compose/mysql/public_key.pem
/docker-compose/mysql/server-cert.pem
/docker-compose/mysql/server-key.pem
/docker-compose/mysql/auto.cnf
docker-compose/mysql/*
storage/
docker-compose/
docker-compose/mysql/ib_buffer_pool
docker-compose/mysql/ib_logfile0
docker-compose/mysql/ibdata1
docker-compose/mysql/ibtmp1
